<ion-view>
	<ion-nav-title>Rule book</ion-nav-title>
	<ion-content scroll="true" class="padding">
		<h1>Story</h1>
		<p>You inherited this island and is now trying to develop a civilization that can support a space program so that you can get to Moon.</p>

		<h1>Building costs</h1>
		<p>At the bottom left corner you see amount of resources that you got at the moment. A greyed out build button means that you don't have enough resources</p>
		<p>Additionally there may be at most 5 towns and 4 cities at the board at any time. A city does not count as a town here. So you can upgrade a town to free up, so that you can build another town.</p>
		
		<div class="list">
			<div class="item item-thumbnail-left" ng-repeat="cost in costs">
				<img ng-src="{{cost.img}}">
				<p>{{cost.name}}</p>
				Cost: {{cost.cost}}
			</div>
		</div>


		<h1>Dice</h1>
		<p>At the beginning of your turn, the dice is rolled. Houses that have resources with the sum
		of the two dices, will get 1 resource. If you have a city, you get 2 pieces of resource.</p>

		<p>If you roll a total of 7, and have more than 4 resources, all but 4 resources will be robbed.</p>

		<h1>Space program</h1>
		<p>In order to get to Moon, you need to get {{numSpaceShuttlePartsTarget}} parts to your space shuttle. Rumors say that development cards is a good source for space shuttle parts.</p>
		<img ng-src="img/space-shuttle.png" width="80px" height="80px">

		<h1>Credit</h1>
		<p>The rules of this game has been inspired by Settlers of Catan. But changed into a single player mini variant. All game code and content was created during Ludum Dare 32. Framework: Ionic<p>
	</div>
	</ion-content>
</ion-view>
